<h1 id="tableLabel">Jobs offering</h1>

<p>Fancy way of showing job offerings</p>

<p *ngIf="!jobs"><em>Loading...</em></p>

<mat-accordion *ngIf="jobs">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Jobs list
      </mat-panel-title>
      <mat-panel-description>
        Click on the desired job to see more details
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Job description and actions will appear here</p>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let job of jobs">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{job.title}}
      </mat-panel-title>
      <mat-panel-description>
        {{job.company}} is located on {{job.location}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list cols="2" rowHeight="20:2">
      <mat-grid-tile>{{ job.description }}</mat-grid-tile>
      <mat-grid-tile>Looking for a: {{ job.role }}</mat-grid-tile>
      <mat-grid-tile>We are paying {{ job.paymentPerHour }} USD per hour</mat-grid-tile>
      <mat-grid-tile>Contact us => {{ job.contact }}</mat-grid-tile>
      <mat-divider></mat-divider>
      <mat-grid-tile><button mat-raised-button color="primary">I'm in!!!</button></mat-grid-tile>
      <mat-grid-tile><button mat-raised-button color="error">Report abuse or incorrect information</button></mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</mat-accordion>
