<h1>Salute</h1>
<p>This app implements an User Login and Register and also a Job Offers CRUD</p>
<span>The point is to handle situations where only certain power users can handle CRUD options like Update, Create and Delete</span>
<br>
<span>It implements Fluent Validation and uses Angular Material Design to make it more visually confortable</span>
<br>
<span>It also implements a JWT Token to handle the authentication</span>
<br>
<span>It uses a SQLite Server Database</span>
<br>
<span>You can find api docs thanks to swagger in: http://localhost:5266/swagger/index.html</span>
<br>
<h2>I really hope it meets your requirements</h2>
